html, body {
    margin: 0;
    background: #fff;
}
.max-width {
    max-width: 1020px;
    padding: 0 20px;
    margin: 0 auto;
}
.no-margin {
    margin: 0;
    padding: 0;
}

/* Links */
a {
    color: inherit;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.card {
    border: 1px solid #A9B0B8;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 50px;
}
