header {
    padding: 25px 0;
    font-size: 14px;
}
header:before, header:after {
    content: " ";
    display: table;
}
header:after {
    clear: both;
}
header .left {
    float: left;
}
header .right {
    float: right;
}
.nav-item {
    display: inline-block;
    margin-left: 20px;
}
.nav-item.selected {
    border-bottom: 1px solid #363C41;
}
.nav-item:hover {
    border-bottom: 1px solid #363C41;
}
.logo {
    font-weight: bold;
    font-size: 18px;
    margin-top: -2px;
}
.logo:hover {
    text-decoration: none;
    color: #343A3F;
}
@media only screen and (max-width: 452px) {
    header .left {
        width: 100%;
        text-align: center;
    }
    header .right {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .nav-item {
        margin: 0 7px;
    }
    .logo {
        font-size: 30px;
    }
}
